@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans  border-border dark:border-border-dark;
  }

  #root {
    height: 100vh;
  }

  div,
  section,
  article,
  aside,
  header,
  footer {
    position: relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  strong,
  em,
  small,
  mark,
  abbr,
  cite,
  blockquote,
  q,
  code,
  pre,
  del,
  ins,
  sub,
  sup,
  b,
  i,
  u,
  td,
  th {
    @apply text-text dark:text-text-dark;
  }
}

body {
  @apply bg-container dark:bg-container-dark;
}

/* Scrollbar base style for all scrollable elements */
html,
body,
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #e5e7eb transparent;
}

/* WebKit-based browsers */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

/* Dark mode variants */
.dark *::-webkit-scrollbar-thumb {
  background: #374151;
}
.dark *::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
